<div id="conversation">
  <h2>Eat, Meet, MIT</h2>
  <p>Hi there {{currentUser}}. (<a id="logoutLink" href="#">logout</a>)</p>
  <p>Below are all conversations between you and {{receiver}}</p>

  {{#each messageArray}}
    <div class="message" data-message-id={{_id}}>
    <p>{{author}}: {{content}}</p>
  {{else}}
    <p>No message yet. Start Chatting!</p>
  {{/each}}

  <form id="new_message"> 
  <input type="text" name="new_message_input" id="new_message_input">
  <input type="submit" id="submit_new_message" value="Add">
  </form>
  <br>

  <input id="seeNetwork" class="generalBtn" type="button" value="Back Network">
  <input id="homeBtn" class="generalBtn" type="button" value="Back Home">

</div>
