<div id="conversation" conversationId={{_id}}>
  <h2>Eat, Meet, MIT</h2>
  <p>Hi there {{currentUser}}. (<a id="logoutLink" href="#">logout</a>)</p>
  <p>Below are all conversations between you and {{receiverUser}}</p>

  {{#each messageArray}}
    <div class="message">
    <p>{{author}}: {{content}}</p>
  {{else}}
    <p>No message yet. Start Chatting!</p>
  {{/each}}

  <form id="new_message" action="#"> 
  <input type="text" name="new_message_input" id="new_message_input">
  <input type="submit" id="submit_new_message" value="Send">
  </form>
  <br>

  <input id="seeNetwork" class="generalBtn" type="button" value="Back Network">
  <input id="homeBtn" class="generalBtn" type="button" value="Back Home">

</div>
