<div id="networkMember" data-conversation-id={{_id}}>
  <!-- The "this" refers to the name of user that is in your network -->
  <div class="network_messages">
	  <p><a href="#" class="sendMessage">{{friend_name}}</a></p>
	  <p class="messageDetail"> "{{last_messasge.content}}"" last sent at {{last_messasge.create_time}}</p>
	  <p class="messageDetail">{{unread}} new messages</p>
  </div>
</div>